.container, .main, .header {
	max-width: 1366px;
	margin: 0 auto;
}

.header {
	height: 58px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main {
	height: calc(100vh - 58px);
	display: grid;
	grid-template-columns: 2fr 6fr;
}
.main > * {
	border: 1px solid black;
}
.main .sidebar {
	height: 100%;
}
.main .sidebar > .sidebar__folder {
	margin-left: 0 !important;
}
.main .sidebar__item_icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 1rem;
}
.main .sidebar__folder_arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1rem;
}
.main .sidebar__folder_title {
	position: relative;
	background-color: rgb(134, 134, 134);
	padding: 1rem;
	padding-left: 3rem;
	border-radius: 5px;
	width: 100%;
	border: none;
	cursor: pointer;
	margin-top: 0.5rem;
	display: flex;
	justify-content: space-between;
}
.main .sidebar__folder_title:hover {
	background-color: rgb(114, 114, 114);
}
.main .sidebar__folder_container {
	margin-left: 1rem;
	height: 100%;
	overflow: hidden;
}
.main .sidebar__folder_content {
	transition: 300ms;
}
.main .sidebar__folder_content_hidden {
	transition: 100ms;
	transform: translateY(-150%);
}
.main .sidebar__file {
	position: relative;
	background-color: rgb(190, 190, 190);
	padding: 1rem;
	padding-left: 3rem;
	border-radius: 5px;
	width: 100%;
	border: none;
	cursor: pointer;
	margin-top: 0.5rem;
	display: flex;
	justify-content: space-between;
}
.main .sidebar__file:hover {
	background-color: rgb(170, 170, 170);
}
.main .content {
	margin-left: 1.5rem;
	height: 100%;
}