:root {
	--doc-preview-bg: #7f7f7f;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;

	font-family: "Roboto", sans-serif;
}

body {
	background: rgb(235, 235, 235);

	--primary-color: #166eae;
	--secondary-color: #24a8e0;
	--tertiary-color: #3cc7ff;
}

body [data-container] {
	padding: 0 1.5rem;
}

a {
	color: inherit;
	text-decoration: none;
}

button,
a {
	cursor: pointer;
}

main iframe body {
	background: var(--doc-preview-bg) !important;
}

*::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

*::-webkit-scrollbar-track {
	background: #ccc;
}

*::-webkit-scrollbar-thumb {
	background: linear-gradient(to top, var(--tertiary-color), var(--primary-color));
}

*::-webkit-scrollbar-thumb:horizontal {
	background: linear-gradient(to left, var(--tertiary-color), var(--primary-color));
}
